<html>
    <head>
        <title>Image metadata and converter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-info">

   
    <nav class="navbar navbar-inverse" style="margin-bottom: 0px;" >
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">IME & IC</a>
          </div>
          <ul class="nav navbar-nav">
            <li {% if i == "0" %} 
              class="active" 
                {% endif %} >
                <a href="{% url 'index' %}">Home</a></li>
            <li {% if i == "1" %} 
                 class="active" 
            {% endif %} ><a href="{% url 'meta part' %}">Extract Data</a></li>
            <li {% if i == "2" %} class="active" {% endif %}><a href="{% url 'converter' %}">Convert</a></li>
           
          </ul>
        </div>
      </nav>

<div style="padding-left: 0px;">
        {% block content %}
        {% endblock %}
    </div>
    </body>
</html>