{% extends "indexhead.html" %}

{% block content %}
<h1>Extract meta data from image </h1>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
<table border="0" class="table table-striped table-responsive">
    <tr>
        <td>Image</td>
        <td><input type="file" name="f1" class="form-control" required /> </td>
    </tr>
  <tr><td colspan="2"><button class="btn btn-sm btn-success mt-1" style="float: right;">Extract</button></td></tr>
    
</table>
</form>
{% if data.file != "" %}
<table class="table table-response table-striped">
    <tr>
        <td rowspan="9" colspan="2" ><img src='../media/{{data.file}}' style="margin: 10px; width: 90%;" /></td>
        <th>Name</th>
        <td>{{data.file}}</td>
    </tr>
    <tr>
        <th>Make</th><td> {{data.Make}}</td>
    </tr>
    <tr>
        <th>Artist</th><td> {{data.artist}}</td>
    </tr>
    
    <tr>
        <th>Exif ifd pointer</td><td> {{data.exif_ifd_pointer}}</td>
    </tr>
    <tr>
        <th>Color space</td><td> {{data.color_space}}</td>
    </tr>
    <tr>
        <th>Compression</th><td> {{data.compression}}</td>
    </tr>
    <tr>
        <th>Datetime</th><td> {{data.datetime}}</td>
    </tr>
    <tr>
        <th>Jpeg interchange format</th><td> {{data.jpeg_interchange_format}}</td>
    </tr>
    <tr>
        <th>Jpeg interchange format length</th><td> {{data.jpeg_interchange_format_length}}</td>
    </tr>
   
    <tr>
        <th>Pixel in X dimension</th><td> {{data.pixel_x_dimension}}</td>

        <th>Pixel in Y dimension</th><td> {{data.pixel_y_dimension}}</td>
    </tr>
    <tr>
        <th>Software</th><td colspan="3"> {{data.software}}</td>
    </tr>
    <tr>
        <th>Orientation</th><td> {{data.orientation}}</td>
   
        <th>Resolution unit</th><td> {{data.resolution_unit}}</td>
    </tr>
    <tr>
        <th>X Resolution</th><td> {{data.x_resolution}}</td>
    
        <th>Y Resolution</th><td> {{data.y_resolution}}</td>
    </tr>
    
</table>

{% endif %}
{% endblock %}
